<div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-lg bg-teal-900 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-20">
  <p class="flex-none text-3xl font-bold tracking-tight text-white">{{title}}</p>
  <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
    <p class="text-lg font-semibold tracking-tight text-white">{{datetime}}</p>
    <p class="mt-2 text-base leading-7 text-teal-100">{{text}}</p>
  </div>
</div>
