@set('navitem', 'text-gray-700 hover:text-teal-700 hover:bg-gray-50 flex gap-x-3 py-2 pl-6 leading-7 font-semibold')
@set('isActive', 'bg-gray-50 text-teal-700')

<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div id="mobile-sidebar" class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-900/80"></div>
  <div class="fixed inset-0 flex">
    <div class="relative mr-16 flex w-full max-w-xs flex-1">
      <!-- Close button, show/hide based on off-canvas menu state  -->
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        <button type="button" class="-m-2.5 p-2.5" onclick="toggleSidebar()">
          <span class="sr-only">Close sidebar</span>
          <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Sidebar component-->
      <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
        <div class="flex h-16 shrink-0 items-center">
          <img class="h-8 w-auto" src="image/logo.png">
        </div>
        <nav class="flex flex-1 flex-col">
          <ul role="list" class="flex flex-1 flex-col -mx-6">
            <li>
              <a href="/aktuelles" class="{{navitem}}
                @if(activeRoute === 'aktuelles')
                {{isActive}}
                @endif
                ">
                Aktuelles
              </a>
            </li>
            <li>
              <a href="/verein" class="{{navitem}}
              @if(activeRoute === 'verein')
              {{isActive}}
              @endif
              ">
                Unser Verein
              </a>
            </li>
            <li>
              <a href="/faq" class="{{navitem}}
              @if(activeRoute === 'faq')
              {{isActive}}
              @endif
              ">
                FAQ
              </a>
            </li>
            <li>
              <a href="/rechtliches" class="{{navitem}}
              @if(activeRoute === 'rechtliches')
              {{isActive}}
              @endif
              ">
                Rechtliche Grundlagen</a>
            </li>
            <li>
              <a href="/dokumente"
              class="{{navitem}}
              @if(activeRoute === 'dokumente')
              {{isActive}}
              @endif
              ">
                Dokumente
              </a>
            </li>
            <li>
              <a href="/anbau" class="{{navitem}}
              @if(activeRoute === 'anbau')
              {{isActive}}
              @endif
              ">

                Nutzfläche berechnen</a>
            </li>

            <div class="mt-auto text-sm font-semibold leading-6 text-gray-400">
              <li>
                <a
                href="/kontakt"
                class="{{navitem}}
                @if(activeRoute === 'kontakt')
                {{isActive}}
                @endif
                ">
                Kontakt</a>
              </li>
              <li>
                <a
                  class="{{navitem}}
                  @if(activeRoute === 'impressum')
                  {{isActive}}
                  @endif
                  "
                  href="/impressum">Impressum</a>
              </li>
              <li>
                <a
                class="{{navitem}}
                @if(activeRoute === 'datenschutz')
                {{isActive}}
                @endif
                "
                href="/datenschutz">Datenschutzerklärung</a>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
    <div class="flex h-16 shrink-0 items-center">
      <img class="h-8 w-auto" src="image/logo.png">
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col -mx-6">
        <li>
          <a href="/aktuelles" class="{{navitem}}
            @if(activeRoute === 'aktuelles')
            {{isActive}}
            @endif
            ">
            Aktuelles
          </a>
        </li>
        <li>
          <a href="/verein" class="{{navitem}}
          @if(activeRoute === 'verein')
          {{isActive}}
          @endif
          ">
            Unser Verein
          </a>
        </li>
        <li>
          <a href="/faq" class="{{navitem}}
          @if(activeRoute === 'faq')
          {{isActive}}
          @endif
          ">
            FAQ
          </a>
        </li>
        <li>
          <a href="/rechtliches" class="{{navitem}}
          @if(activeRoute === 'rechtliches')
          {{isActive}}
          @endif
          ">
            Rechtliche Grundlagen
          </a>
        </li>
        <li>
          <a href="/dokumente" class="{{navitem}}
          @if(activeRoute === 'dokumente')
          {{isActive}}
          @endif
          ">
            Dokumente
          </a>
        </li>
        <li>
          <a href="/anbau" class="{{navitem}}
          @if(activeRoute === 'anbau')
          {{isActive}}
          @endif
          ">
            Nutzfläche berechnen
          </a>
        </li>

        <div class="mt-auto text-sm font-semibold leading-6 text-gray-400">
          <li>
            <a class="{{navitem}}
              @if(activeRoute === 'impressum')
              {{isActive}}
              @endif
              "
              href="/impressum">Impressum</a>
          </li>
          <li>
            <a
              class="{{navitem}} pb-6
              @if(activeRoute === 'datenschutz')
              {{isActive}}
              @endif
              "
              href="/datenschutz">Datenschutzerklärung</a>
          </li>
          <li>
            @if(auth.user)
            <form action="{{ route('logout') }}" method="POST">
              <button
                type="submit"
                class="{{navitem}} pb-6 w-full"
                >Abmelden
            </button>
            </form>
            @else
            <a
              class="{{navitem}} pb-6
              @if(activeRoute === 'login')
              {{isActive}}
              @endif
              "
              href="{{route('login')}}">Anmelden
            </a>
            @endif
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>

<div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden">
  <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" onclick="toggleSidebar()">
    <span class="sr-only">Open sidebar</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
</div>


<script>
  function toggleSidebar () {
    document.getElementById('mobile-sidebar').classList.toggle("hidden");
    document.getElementById('mobile-sidebar').classList.toggle("relative");
  }
</script>
