@layout('master')
@section('content')
  <h1 class="title has-text-primary">
    Kleingartenverein "Am Wäldchen" e.V. Strausberg
  </h1>

  <p>Wir sind ein gemeinnütziger, dem Bundeskleingartengesetz unterstehender Kleingartenverein, in der Nähe des schönen Straussees in Strausberg.</p>

  <p>107 Kleingärten auf x Fläche</p>
  <p>Größe zwischen x und x m2</p>

@endsection
