<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  <title>Am Wäldchen</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  <div class='sidebar'>
    <nav class="sidebar-main" aria-label="Sidebar">
      <a href="/">Der Verein</a>
      <a href="/aktuelles">Termine</a>
      <a href="/rechtliches">Rechtliches</a>
      <a href="/antraege">Anträge</a>
      <a href="/faq">FAQ</a>
      <a href="/anbau">Nutzfläche berechnen</a>
    </nav>
    <div class='sidebar-bottom'>
      <a href="/kontakt">Kontakt</a>
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutzerklärung</a>
    </div>
  </div>

  <div class="main mt-6">
    <div class="container">
      @!section('content')
    </div>
  </div>
</body>
</html>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
