<!DOCTYPE html>
<html class="h-full bg-white" lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Am Wäldchen</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="h-full">
  @!component('components/sidebar', {
    activeRoute,
  })

  <main class="lg:pl-72 py-1 md:py-8 xl:pr-96">
    @if (flashMessages.has('logoutInfo'))
    <div class="rounded-md bg-green-50 p-4 flex">
      <p class="ml-3 text-sm font-medium text-green-800">{{ flashMessages.get('logoutInfo')}}</p>
    </div>
    @endif

    <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
      @!section('content')
    </div>
  </main>

  <aside class="fixed inset-y-0 right-0 hidden w-96 overflow-y-auto border-l border-gray-200 px-4 py-6 sm:px-6 lg:px-8 xl:block">
    <!-- Secondary column (hidden on smaller screens) -->
    @!component('components/infobox', {
      title: 'Wahl der Schatzmeisterin',
      datetime: '30. Juli, 10 Uhr',
      text: 'Eine neue Runde, eine neue Runde!'
    })
  </aside>
</body>
</html>
