<!DOCTYPE html>
<html class="h-full bg-white" lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Am Wäldchen</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="h-full">
  @!component('components/sidebar')

  <div class="bg-white my-6 mx-auto max-w-screen-md">
    @!section('content')
  </div>
</body>

<aside class="fixed inset-y-0 right-0 hidden w-96 overflow-y-auto border-l border-gray-200 px-4 py-6 sm:px-6 lg:px-8 xl:block">
    <!-- Secondary column (hidden on smaller screens) -->
</aside>
</html>
