@layout('master')
@section('content')
  <section class="hero">
    <div class="hero-body">
      <p class="title">It's a 404</p>
      {{--  <p class="subtitle">Hero subtitle</p>  --}}
    </div>
  </section>
@endsection
