PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Dzcsog4_hbxyKTNXjHDxquGjxBbkZ6Hd
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false

EMO_LOGO=
EMO_PDF=https://mol.wastebox.gemos-management.de/...Abfuhrtermine.pdf
EMO_ICS=https://mol.wastebox.gemos-management.de....Abfuhrtermine.ics

PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
