@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

// Set your brand colors
$pink: #FA7C91;
$forest-green: #3a4a3d;
$fceladonn: #96ad90;
$rose-quartz: #f4b9b8;
$peach: #f7d6c0;
$red-orange: #e55b13;
$orange: #f6a21e;
$sage-green: #535e4b;
$sage: #c1c2ad;
$cognac: #b5a4a3;
$taupe: #e9e6e2;
$purple-haze: #4f3750;
$desert-sun: #cb9870;

// Update Bulma's global variables
$primary: $forest-green;
$primary: $sage-green;
$light: scale-color($taupe, $lightness: +33%);
$link: $purple-haze;

$family-sans-serif: "Nunito", sans-serif;
$title-color: $primary;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/bulma/bulma.sass";

html {
  width: 100%;

  body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  .sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 222px;
    background: $forest-green;
    padding: 0.3rem;

    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;

    .sidebar-main {
      display: flex;
      flex: 1;
      flex-direction: column;
      color: $peach;
      padding-top: 3rem;
    }
    .sidebar-bottom {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      border-top: 1px solid $sage-green;
      padding: 4px;
    }

    a {
      display: flex;
      color: $peach;
      padding: 0.8rem;
      border-radius: 4px;
      &:hover {
        color: lighten($peach, 9%);
        background-color: lighten($forest-green, 4%);
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    @include until(1408px) {
      margin-left: 222px;
      padding: 12px;
    }
  }
}

pre {
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
 }

h1.title.is-1 {
  font-size: 2rem;
}
h2.title.is-2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.title.is-3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

details {
  cursor: pointer;
  margin-bottom: 22px;
  summary {
    margin-bottom: 6px;
    .title {
      font-weight: 400;
      color: $link;
      line-height: 24px;
    }
  }
}

ul li {
  list-style-type: none;
}

.message.is-primary {
  .message-header {
    // color: $sage;
    background-color: scale-color($forest-green, $lightness: +22%);
  }
}
